*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
}
.top-heading{
    height: 100px;
    background-color: rgb(5, 152, 98);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.top-logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-logo{
    width: 100px;
    margin-left: 30px;
    margin-right: 10px;
}
#menu-icon{
    display: none;
}
.top-logo h1{
    color: #fff;
    text-transform: uppercase;
    padding: 0px 5px;
    letter-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-area{
    width: 40%;
}
.menu-links ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-links ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-right: 50px;

    position: relative;
    transition: all ease-in-out 0.5s;
}
.menu-links ul li a:after{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    content: '';
    width: 0%;
    height: 3px;
    background-color: #fff;

    transition: all linear .4s;
}
.menu-links ul li a:hover:after{
    width: 100%;
}
.menu-links ul li a:hover{
    color: aqua;
}
.content{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.content h1{
    color: #fff;
    text-transform: uppercase;
    padding: 0px 5px;
    letter-spacing: 6px;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.content p{
    color: white;
    padding: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn button{
    padding: 10px 25px;
    text-transform: uppercase;
    border: 2px solid aqua;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.btn button::after{
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
    width: 0%;
    height: 100%;
    background-color: rgb(5, 152, 98);
    border-radius: 50px;
    z-index: -1;

    transition: all linear .5s;
}

.btn button:hover::after{
    width: 100%;
    border: none;
}
.btn button:hover{
    border: none;
}
@media only screen and (max-width: 600px) {
    .top-heading{
        flex-direction: column;
        height: auto;
    }
    .menu-links ul{
        flex-direction: column;
        margin-top: 20px;
    }
    .icon-logo{
        width: 100px;
    }
    .top-logo{
        margin-right: 400px;
    }
    .top-logo h1{
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    .menu-links ul li a{
        margin: 15px 0px;
    }

    /* menu-icon START here */
    #menu-icon{
        display: block;
        width: 30px;
        margin: auto 30px;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    .content{
        margin-top: 135px;
    }
    .content h1{
        font-size: 30px;
        margin: 0;
    }
    .content p{
        font-size: 16px;
        padding: 20px 5px;
        margin: 0;
    }
    /* menu-icon END here */
}